/* Generelle styling */

#bottom-section {
    position: relative;
    background: #000;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
}

/* Typewriter tekst-styling */

#typewriter {
    font-size: 60px;
    color: #FFC53C;
    font-family: "p22-typewriter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.typewriter-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    text-align: center;
    width: 100%;
}

/* Social ikon-styling */

.social-icons {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 40px;
    z-index: 20;
}

.social-icon {
    font-size: 45px;
    color: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
    color: #FFC53C;
}


.yt-slider-container {
    position: absolute; /* Gør det muligt at placere i bunden */
    bottom: 40px; /* Placer tættere på bunden */
    width: 100%; /* Fyld hele bredden */
    max-width: 500px; /* Juster bredden, hvis ønsket */
    margin: 0 auto; /* Centrer slideren horisontalt */
    left: 50%; /* Centrer horisontalt */
    transform: translateX(-50%); /* Justér for præcis centreret placering */
}

.yt-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.yt-slide {
    min-width: 100%;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.yt-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Arrow styling */
.yt-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(50px);
    background: none;
    border: none;
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s ease;
}

.yt-arrow:hover {
    color: #FFC53C;
}

.yt-left-arrow {
    left: 0;
    transform: translate(-100%, -50%);
}

.yt-right-arrow {
    right: 0;
    transform: translate(100%, -50%);
}

/* Dot navigation styling */
.yt-dot-navigation {
    position: relative; /* Ændret til relative for at forankre det til slideren */
    top: 10px; /* Fast afstand til bunden af slideren */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Tilføjer margin-top for at give mere plads ovenover */
    left: 0; /* Fjern centreringsjusteringen */
    transform: none; /* Fjern centreringsjusteringen */
}

.yt-dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.yt-dot.active {
    background-color: #FFC53C;
}


/* Play icon styling */
.yt-play-icon {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #ffffff;
    opacity: 0.8;
    pointer-events: none;
}

.yt-slide {
    position: relative;
}

/* Hover effect for play icon */
.yt-slide:hover .yt-play-icon {
    opacity: 1;
    color: #FFC53C;
    transform: translate(-50%, -50%) scale(1.2);
}

@media (min-width: 768px) and (max-width: 1023px) {
    .yt-dot {
        width: 10px;
        height: 10px;
    }

    .yt-arrow {
        font-size: 30px;
    }

    .yt-play-icon {
    font-size: 40px;  
    }

    .yt-slider-container {
        bottom: 40px;
    }

    .social-icon {
        font-size: 45px;
    }

    .social-icons {
        top: 32%;
    }

    #typewriter {
        font-size: 50px;
    }

    .yt-slider-container {
        max-width: 400px; /* Juster bredden, hvis ønsket */
    }

    .yt-dot-navigation {
        margin-top: 5px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .yt-dot {
        width: 10px;
        height: 10px;
    }

    .yt-arrow {
        font-size: 40px;
    }

    .yt-play-icon {
    font-size: 40px;  
    }

    .yt-slider-container {
        bottom: 40px;
    }

    .social-icon {
        font-size: 40px;
    }

    .social-icons {
        top: 30%;
    }

    #typewriter {
        font-size: 40px;
    }

    .yt-slider-container {
        max-width: 350px; /* Juster bredden, hvis ønsket */
    }

    .yt-dot-navigation {
        margin-top: 5px;
    }

    .yt-slide {
        height: 28vh;
    }

}

@media (max-width: 480px) {
#bottom-section {
    min-height: 80vh;
}

    .yt-dot {
        display: none;
    }

    .yt-arrow {
        font-size: 40px;
    }

    .yt-play-icon {
    font-size: 40px;  
    }

    .social-icon {
        font-size: 40px;
    }

    .social-icons {
        top: 27%;
    }

    #typewriter {
        font-size: 30px;
    }

    .yt-slider-container {
        max-width: 270px; /* Juster bredden, hvis ønsket */

    }


}