.slider-container {
    position: relative;
    width: 40%; /* Størrelsen på slideren */
    height: auto;
    bottom: -20%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%; /* Viser kun én slide ad gangen */
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Pile styling */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(50px); /* Flytter pilene udad */
    background: none;
    border: none;
    color: #ffffff;
    font-size: 40px;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s ease;
}

.arrow:hover {
    color: #FFC53C;
}

.left-arrow {
    left: 0; /* Udgangspunkt for venstre pil */
    transform: translate(-100%, -50%); /* Flytter venstre pil yderligere til venstre */
}

.right-arrow {
    right: 0; /* Udgangspunkt for højre pil */
    transform: translate(100%, -50%); /* Flytter højre pil yderligere til højre */
}

/* Dot navigation styling */
.dot-navigation {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #FFC53C; /* Aktiv prik */
}

/* Play-ikon styling */
.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px; /* Størrelse på ikonet */
    color: #ffffff;
    opacity: 0.8; /* Let gennemskinnelighed */
    pointer-events: none; /* Sørg for, at ikonet ikke forstyrrer klik */
}

.slide {
    position: relative; /* For at placere ikonet centralt */
}

/* Hover-effekt for play-ikon */
.slide:hover .play-icon {
    opacity: 1; /* Gør ikonet mere synligt ved hover */
    color: #FFC53C;
    transform: translate(-50%, -50%) scale(1.2); /* Gør ikonet større ved hover */
}


